.container{
    border: 5px solid black;
    width: 300px;
    height:300px;
    background-color: aqua;
    color:white;
    padding:10px;
    position:relative;
    left: 100px;

    

}
.one{
    width: 60px;
    height: 60px;
    background-color: blueviolet;
    position:static;
    padding:10px;
    border:2px solid black;

}
.two{
    width: 60px;
    height: 60px;
    background-color: rgb(237, 33, 77);
    padding:10px;
    position:relative;
    left:120px;
    
    border:2px solid black;
}
.three{
    width: 60px;
    height: 60px;
    background-color: rgb(43, 226, 141);
    padding:10px;
    position:absolute;
    left:400px;
    border:2px solid black;
  
}

.four{
    width: 60px;
    height: 60px;
    background-color: rgb(232, 24, 187);
    padding:10px;
    position:fixed;
    right:0px;
    bottom:0px ;
    border:2px solid black;
}

h1{
    background-color: rgb(137, 137, 214);
    padding:10px;
    border:4px solid black;
    position:sticky;
    top:0;
    color:rgb(45, 11, 43)
}


    

    







